.loginFormContainer {
    text-align: center;
}

.email {
    font-family: Tahoma;
    margin: 20px;
}

.password {
    font-family: Tahoma;
    margin: 20px;
}

.loginLink {
    font-family: Tahoma;
    margin: 20px
}

.loginCredentialInput,
.loginPasswordInput {
    padding: 6px;
    border-radius: 5px;
    margin: 5px;
}

.loginSubmitButton {
    font-size: 1rem;
    font-family: Tahoma;
    /* color: white;
    background-color: #4287f5;
    border: solid 2px #4287f5; */
    border-radius: 15px;
    cursor: pointer;
}

.loginSubmitButton:hover {
    background-color: #3d7adc;
    border: solid 2px #3d7adc;
}

@media only screen and (min-width: 320px) {

    .loginCredentialInput,
    .loginPasswordInput {
        width: 50vw;
    }

    .loginSubmitButton {
        width: 35vw;
        height: 4vh;
    }
}

@media only screen and (min-width: 768px) {

    .loginCredentialInput,
    .loginPasswordInput {
        width: 35vw;
    }

    .loginSubmitButton {
        width: 20vw;
        height: 3vh;
    }
}

@media only screen and (min-width: 1200px) {

    .loginCredentialInput,
    .loginPasswordInput {
        width: 22vw;
    }

    .loginSubmitButton {
        width: 10vw;
        height: 5vh;
    }
}

@media only screen and (min-width: 1440px) {

    .loginCredentialInput,
    .loginPasswordInput {
        width: 25vw;
    }

    .loginSubmitButton {
        width: 10vw;
        height: 4vh;
    }
}

@media only screen and (min-width: 1920px) {
    .loginCredentialInput,
    .loginPasswordInput {
        width: 15vw;
    }

    .loginSubmitButton {
        width: 7vw;
        height: 4vh;
    }
}