.alertContainer {
    display: flex;
    justify-content: center;
}

.collapse {
    font-family: Tahoma;
}

@media only screen and (max-width: 320px) {
    .collapse {
        margin: 20px;
        width: 75vw;
        padding: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .collapse {
        margin: 20px;
        width: 50vw;
        padding: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .collapse {
        margin: 10px;
        width: 40vw;
        padding: 40px;
    }  
}

@media only screen and (min-width: 1440px) {
    .collapse {
        margin: 20px;
        width: 30vw;
        padding: 25px;
    }  
}

@media only screen and (min-width: 1920px) {
    .collapse {
        padding: 20px;
        width: 19vw;
        margin: 10px;
    }
}