.formContainer {
    width: 100vw;
}

.tableContainer {
    width: 55vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.table {
    width: 100%;
    margin: 0 auto;
    border: 3px solid #6a6a6a;
    border-radius: 30px;
    table-layout: fixed;
    text-align: center;
}

.tableHead {
    padding: 15px;
}

.productsInputsDiv {
    display: flex;
    height: 5vh;
    margin: 20px auto 20px auto;
}

.productNameInput {
    padding: 10px;
    border-radius: 20px;
}

.productAmountInput {
    padding: 10px;
    border-radius: 20px;
}

.productSubmitButton {
    background-color: #4287f5;
    color: white;
    border: solid 2px #4287f5;
    border-radius: 15px;
    cursor: pointer;
}

.productSubmitButton:hover {
    background-color: #3d7adc;
    border: solid 2px #3d7adc;
}

@media only screen and (min-width: 320px) {
    .productsInputsDiv {
        width: 100vw;
        justify-content: space-evenly;
        height: 6vh;
    }

    .productNameInput {
        width: 33vw;
    }

    .productAmountInput {
        width: 33vw;
    }

    .productSubmitButton {
        width: 20vw;
    }

    .tableContainer {
        width: 100vw;
    }

    .tableHead {
        width: 19vw;
        padding: 5px;
        font-size: 1rem;
        word-wrap: break-word;
    }
}

@media only screen and (min-width: 768px) {
    .productsInputsDiv {
        width: 100vw;
        justify-content: space-evenly;
    }

    .productNameInput {
        width: 35vw;
    }

    .productAmountInput {
        width: 35vw;
    }

    .productSubmitButton {
        width: 15vw;
        height: 3vh;
        font-size: 1rem;
    }

    .tableContainer {
        width: 90vw;
    }

    .tableHead {
        width: 19vw;
        padding: 10px;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1200px) {
    .productsInputsDiv {
        width: 75vw;
        justify-content: space-evenly;
        align-items: center;
    }

    .productNameInput {
        width: 25vw;
    }

    .productAmountInput {
        width: 25vw;
    }

    .productSubmitButton {
        width: 10vw;
        height: 5vh;
        font-size: 1rem;
    }

    .tableContainer {
        width: 75vw;
    }

    .tableHead {
        width: 15vw;
        height: 5vh;
        padding: 15px;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1440px) {
    .productsInputsDiv {
        width: 70vw;
        justify-content: space-evenly;
        align-items: center;
    }

    .productNameInput {
        width: 25vw;
    }

    .productAmountInput {
        width: 25vw;
    }

    .productSubmitButton {
        width: 10vw;
        height: 4vh;
        font-size: 1rem;
    }

    .tableContainer {
        width: 75vw;
    }

    .tableHead {
        width: 15vw;
        height: 5vh;
        padding: 15px;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1920px) {
    .productsInputsDiv {
        width: 40vw;
        justify-content: space-evenly;
    }

    .productNameInput {
        width: 15vw;
    }

    .productAmountInput {
        width: 15vw;
    }

    .productSubmitButton {
        width: 6vw;
        height: 4vh;
        font-size: 1rem;
    }

    .tableContainer {
        width: 70vw;
    }

    .tableHead {
        font-size: 20px;
    }
}