.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh auto;
    width: 100vw;
}

@media only screen and (min-width: 320px) {
    .title {
        font-size: 4.5vw;
        height: 15vh;
    }
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 4vw;
    }
}

@media only screen and (min-width: 1200px) {
    .title {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1440px) {
    .title {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1920px) {
    .title {
        font-size: 32px;
    }
}